@import "utils/mixins";
@import "utils/variables";

.wrapper-team {
  padding: 1px;
  min-height: 504px;
  background: linear-gradient(black 50%, white 50%);
  @media screen and (max-width: 992px){
    background: black;
  }
}

.wrapper-our-team {
  width: 74%;
  height: auto;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @media screen and (max-width: 992px){
    margin: 0 auto 100px auto;
  }
  @media screen and (max-width: 768px){
    width: 80%;
    flex-direction: column;
  }
  @media screen and (max-width: 480px){
    width: 80%;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.card {
  width: 30%;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 480px){
    margin-bottom: 65px;
  }
  @media screen and (max-width: 375px){
    margin-bottom: 80px;
  }
  &__img {
    padding-top: 130%;
    position: relative;
    width: 100%;
    &_wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      img {
        width: 100%;
      }
    }
  }
}

.worker-description {
  border: 1px solid red;
  position: absolute;
  left: 5%;
  top: 80%;
  width: 90%;
  background-color: #fff;
  &__name {
    padding: 20px;
    p:nth-child(1) {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }
    p:nth-child(2) {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 26px;
      text-align: center;

      color: #959595;
    }
  }
  &__experience {
    padding: 13px 20px 13px 20px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #E3B873;
  }

}