* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(46, 48, 50);
}

html {
    font-size: 24px;
}

.btn-up {
    width: 50px;
    height: 50px;
    border: 5px solid #1dbfa2;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 70px;
    top: 650px;
    display: none;
    opacity: 0.8;
    transition: all ease 1s;
}

.btn-up:hover {
    cursor: pointer;
    border: 5px solid #bf7c56;
    opacity: 1;
}

.wrapper-portfolio {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    display: flex;
    padding: 1.66rem 3.75rem;
    background-color: #fff;
}

.header__avatar {
    margin-right: 3.75rem;
}

.header__avatar img {
    width: 10.41rem;
    height: auto;
    border-radius: 80%;
}

.header__social-network {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem 0;
}

.header__social-network_full-name {
    font-family: 'Hepta Slab', serif;
    font-size: 1rem;
    padding: 0.4rem 1.25rem;
}

.header__social-network_link {
    display: flex;
    align-items: center;
    padding: 0.4rem 1.25rem;
}

.logo-git {
    margin-right: 1.25rem;
}

.link-git a {
    font-family: 'Hepta Slab', serif;
    font-size: 1rem;
    text-decoration: none;
    color: #0d0d0d;
}

.link-git a:hover {
    color: #1dbfa2;
}

.header__social-network_page-links {
    padding: 0.4rem 1.25rem;
}

.social-list li {
    display: inline-block;
}

.social-list li a {
    font-family: Sathu;
    font-size: 0.75rem;
    color: #1dbfa2;
    text-decoration: none;
}

span:hover {
    color: #2286d6;
}

/* block education */

.education-block {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 1.66rem 3.75rem;
    background-color: #fff;
}

.expansion-panel {
    display: flex;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.9166rem;
}

.expansion-panel p {
    margin-right: 15px;
}

.btn {
    width: 30px;
    height: 30px;
    border-left: 1px solid #1dbfa2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-plus {
    width: 30px;
    height: 30px;
    border-left: 1px solid #1dbfa2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.btn-minus {
    width: 30px;
    height: 30px;
    border-left: 1px solid #1dbfa2;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: none;
}

.btn:hover {
    cursor: pointer;
    color: rgba(52, 52, 52, 0.82);
}

.wrapper-list {
    display: none;
    width: 60%;
}

.show {
    display: block;
}

.education-list__item {
    color: #0d0d0d;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.75rem;
    display: block;
    margin: 20px;
}

/* projects block */

.projects {
    width: 100%;
    box-sizing: border-box;
    padding: 0.833rem 3.75rem;
    background-color: #fff;
}

.section-name {
    padding-bottom: 10px;
    width: 300px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.9166rem;
    border-bottom: 1px solid #1dbfa2;
}

/* slider swiper */

.container {
    margin: 4rem auto;
    width: 90%;
    height: 350px;
    display: flex;
}

.content {
    width: 80%;
    position: relative;
    overflow: hidden;
}

.content__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
}

.content__item a {
    position: relative;
    display: block;
}

.content__item img{
    width: 100%;
    height: 350px;
}

.description-project {
    position: absolute;
    bottom: 5px;
    left: 22%;
    padding: 20px;
    width: 50%;
    height: 200px;
    background-color: #ffffff;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-project__name {
    margin-top: 20px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.79rem;
    color: #0d0d0d;
    font-weight: bold;
    text-transform: uppercase;
}

.description-project__list {
    margin: 20px auto;
    width: 150px;
    text-align: center;
    font-family: Sathu;
    font-size: 0.666rem;
    color: gray;
}

.description-project__list li{
    margin-bottom: 10px;
}

.hidden-slide {
    display: none;
}

.btn-slide {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1dbfa2;
    opacity: 0.8;
    cursor: pointer;
}

.btn-slide:hover  {
    opacity: 1;
    background-color: #1dbfa2;
}

/* adaptive */

@media screen and (max-width: 992px) {
    html {
        font-size: 20px;
    }

    .btn-slide {
        display: none;
    }

    .content {
        width: 100%;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 17px;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .header__avatar {
        margin-right: 0;
    }

    .header__avatar img {
        display: block;
        margin: 0 auto;
    }

    .header__social-network {
        align-items: center;
    }
}

@media screen and (max-width: 468px) {
    html {
        font-size: 16px;
    }
}