@import "utils/mixins";
@import "utils/variables";


.wrapper-experience {
  width: 100%;
  padding: 1px;
  background-color: #ffffff;
  position: relative;
}

.wrapper-workers-info {
  margin: 0 auto 130px auto;
  width: 1240px;
  @include flex();
  flex-direction: column;
  @media screen and (max-width: 992px){
    display: none;
  }
}

.employee-information {
  width: 600px;
  margin-top: 30px;
  @include flex();
  flex-direction: column;
  &--qualification {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #363636;
  }
}

.logo-clients {
  width: 200px;
  margin-top: 76px;
  @include flex();
  flex-direction: column;
  &--caption {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  }
  &--vectors {
    display: flex;
    width: 115px;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.recommend {
  margin-top: 15px;
  width: 470px;
  &--info {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
}

// person photo
.person-one {
  background: url("../assets/images/portret_1.png") -17px -3px;
}
.person-two {
  background: url("../assets/images/portrer_2.png") -17px 1px;
}
.person-three {
  background: url("../assets/images/portret_3.png") -29px 0px;
}

.wrapper-person-inform {
  width: 86%;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: 428px;
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    &--info {
      display: flex;
      margin-top: 25px;
      margin-bottom: 25px;
      width: 90%;
      .card-photo {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        background-size: cover;
      }
      .card-name {
        display: flex;
        align-items: center;
        font-family: 'Yeseva One', arial;
        margin-left: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
      }
    }
    .card-description {
      width: 90%;
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 180%;
    }
  }
  .values {
    width: 85%;
    height: 54px;
    position: absolute;
    display: flex;
    bottom: -27px;
    left: 0px;
    background-color: $main_color;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    color: white;
    font-family: 'Yeseva One', arial;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    &--meter {
      width: 45%;
      height: 54px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-right: 1px solid white;
    }
    &--days {
      width: 55%;
      height: 54px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
