* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

div {
    width: 1300px;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 1550px;
}

.btn {
    padding: 20px;
    width: 60px;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: rgb(46, 48, 50);
    color: #1dbfa2;
    text-align: center;
    font-size: 13px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.btn-desktop {
    display: none;
    position: fixed;
    top: 600px;
    right: 20px;
}

.btn-mobile {
    position: fixed;
    top: 600px;
    right: 20px;
}

.btn-back {
    position: fixed;
    top: 670px;
    right: 20px;
}